{% extends 'base.html' %}
{% block title %}Blog|Homestaurant{% endblock title %}
{% block style-element %}
    <style>
        .row{
            margin-top: 120px;
        }
        .card-body > p{
            font-family: Roboto, sans-serif;
        }
        body{
            background-color: #2D3142;
        }
    </style>
{% endblock style-element %}

{% block common %}
    <header>
    {% include 'blog/navbar.html' %}
    <!--Admin Login Modal-->
    {% include 'blog/adminModal.html' %}
    </header>
    <div class="container">
        <div class="row">
            <!--Column-2 For Side Bar-->
            <div class="col-lg-7 offset-lg-1 my-5 d-lg-none" >
                <div class="side-bar">
                    <h1 class="text-center text-justify text-info ">To Feature Your Post In Our website</h1>
                    <a href="#" class="btn btn-outline-info btn-block">Click Here</a>
                </div>
            </div>
            <!--Column-2 For Side Bar End-->
            <!--Column-1 For Blog-Posts Start-->
            <div class="col-lg-7  offset-lg-1" >
                {% for post in published_blogs %}
                    <div class="card">
                        {% if post.pic1 %}
                            <img src="{{ post.pic1.url }}" class="card-img" alt="pic:{{ post.title }}">
                        {% endif %}
                        <div class="card-header">
                            <label class="card-title font-weight-bold">{{ post.title }}</label>
                            <p class="text-info text-muted">Published By-{{ post.author }} |
                            Date-{{ post.publish }}
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="text-center">
                                {{ post.body|safe  }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <a class="card-link" href="{% url 'blog:detail_post' post.slug %}">Read More</a>
                            <a class="card-link" href="#">Edit</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!--End Column-1 For Blog-Posts-->
            <!--Column-2 For Side Bar-->
            <div class="col-lg-3 mx-lg-auto d-lg-flex d-none">
                <div class="side-bar">
                    <h1 class="text-center text-justify text-info ">To Feature Your Post In Our website</h1>
                    <a href="#" class="btn btn-outline-info btn-block">Click Here</a>
                </div>
            </div>
            <!--Column-2 For Side Bar End-->
        </div>
    </div>
{% endblock common %}